.content {
    height: 100%;
    width: 94.3vw;
    background: url(./images/home.jpeg) center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40%;
    width: 50%;
    color: #f3f3f3;
    background-color: #2dadd486;
    text-shadow: 0px 1px 3px black;
    font-size: clamp(1rem, 6vw, 4rem);
}