html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 5%;
    background-color: #93c5fd;

}

nav {
    height: 100%;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly ;
}

a {
    width: fit-content;
    display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #3b82f6;
    color: #dbeafe;
    font-size: x-large;
}

a:hover {
    box-shadow: inset 0px 5px 15px #1e40af;
    color: #bfdbfe;
}