html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: Dancing-Font;
    src: url(./Shrikhand-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecfeff;
}

header {
    width: 100%;
    background-color: #93c5fd;
    position: sticky;
    top: 0;
}

nav {
    height: 50px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly ;  
}

a {
    width: 5%;
    display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #3b82f6;
    color: #dbeafe;
    font-size: clamp(1rem, 1.5vw, 2rem);
    border: solid 1px navy;    
    border-radius: 10px;
}

a:hover {
    box-shadow: inset 0px 5px 15px #1e40af;
    color: #bfdbfe;
}

.about-restaurant{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows:repeat(2 ,1fr) ;
}

.restaurant-name {
    font-family: Dancing-Font,'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 4vw, 3rem);
    color: black;
    text-shadow: 0px 0px 10px #3b82f6;
    background-color: #8be2fd8f;
    width: 100%;
    height: 80px;
}

.image1, .image2 {
    width: 100%;
    height: 100%;
    background-image: url(./Restaurant.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image2 {
    background-image: url(./intro-1647440546.jpeg);
}